.header {
  background: $white;
  padding: 24px 0;
  @media (max-width: 480px) {
    padding: 16px 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    a {
      img {
        max-width: 240px;
        display: block;
        @media (max-width: 480px) {
          max-width: 200px;
        }
      }
    }
  }
  .user-menu {
    position: relative;
    .trigger {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
      }
      @media (max-width: 480px) {
        span {
          display: none;
        }
      }
    }
    .dropdown {
      display: none;
      position: absolute;
      padding: 8px;
      background: $white;
      border-radius: 6px;
      top: 48px;
      right: 0px;
      box-shadow: $default-box-shadow;
      &.active {
        display: block;
      }
      a {
        display: block;
        min-width: 160px;
        line-height: 24px;
        padding: 8px 16px;
        &:hover {
          background: $light-bg-color;
          cursor: pointer;
        }
      }
    }
  }
  .header-button {
    display: inline-block;
    margin-left: 8px;
    height: 36px;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    line-height: 36px;
    padding: 0 16px;
    background: $primary-color;
    border: 1px solid transparent;
    color: $white;
    @media (max-width: 480px) {
      width: 72px;
    }
    &.secondary {
      border-color: $primary-color;
      background: $white;
      color: $primary-color;
      @media (max-width: 530px) {
        display: none;
      }
    }
    &.add-new {
      display: flex;
      align-items: center;
      background: $primary-color;
      width: auto;
      margin-left: auto;
      margin-right: 36px;
      .icon {
        margin-right: 8px;
      }
      @media (max-width: 480px) {
        margin-right: 16px;
        padding: 4px;
        span {
          display: none;
        }
        .icon {
          margin-right: 0;
        }
      }
    }
  }
}
