// Main Colors
$primary-color: #e06a52;
$accent-color: #e17c91;
$light-bg-color: #fbefee;

// Text Color
$text-color: #536287;
$light-text-color: #b6bbcb;
$error-color: #ec82a6;

// Border Color
$white: #fff;
$border-color: #d9d9d9;

// Box Shadow
$default-box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
